<div class="d-flex justify-content-center mb-3">
    <form class="form-control w-25 mt-5 border-dark py-3 shadow">
        <div class="image text-center my-3">
            <img [src]="image" alt="" height="100px" width="100px" class="border border-success rounded-circle">
        </div>
        <div class="mb-3 border p-2 rounded-4 border-dark shadow">
          <label for="exampleInputEmail1" class="form-label">Address email</label>
          <div class="d-flex align-items-center">
            <span><i class="bi bi-envelope-fill fa-2x text-success"></i></span>
            <input type="email" class="form-control border-0" placeholder="username@gmail.com">
          </div>
        </div>
        <div class="mb-3 border p-2 rounded-4 border-dark shadow">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <div class="d-flex align-items-center">
            <span><i class="fa-solid fa-lock fa-2x text-success"></i></span>
            <input type="password" class="form-control border-0" placeholder="...............">
            <span><i class="bi bi-eye-fill fa-2x text-success"></i></span>
          </div>
        </div>
        <a href="table-voiture" class="btn w-100 btn-success">Login</a>
        <div class="option d-flex justify-content-between mt-2 fw-bold">
            <p>signup</p>
            <p>Forget?</p>
        </div>
      </form>
</div>