<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<div class="container mt-2">
    <div class="row">
        <div class="col-md-4 mt-3 rounded board">
            <ul class="list-unstyled d-flex flex-column align-items-center">
                <li class="list-items my-3 fw-bold align-middle">
                   <span class="text-success"><i class="fa-solid fa-user-gear fa-2x me-4"></i></span> <strong class="souligner">chauffeurs</strong>
                </li>
                <li class="list-items my-3 fw-bold align-middle">
                   <span class="text-success"><i class="fa-solid fa-screwdriver-wrench fa-2x me-4"></i></span> <strong>entretien</strong>
                </li>
                <li class="list-items my-3 fw-bold align-middle">
                   <span class="text-success"><i class="fa-solid fa-car-side fa-2x me-4"></i></span> <strong>vehicule</strong>
                </li>
                <li class="list-items my-3 fw-bold align-middle">
                   <span class="text-success"><i class="fa-solid fa-car-burst fa-2x me-4"></i></span> <strong>panne</strong>
                </li>
                <li class="list-items my-3 fw-bold align-middle">
                   <span class="text-success"><i class="fa-regular fa-clock fa-2x me-4"></i></span> <strong>rappel</strong>
                </li>
                
              </ul>
        </div>
        <div class="col-md-8 mt-5">
              <div class="table-container p-3 rounded">
                <div class="d-flex justify-content-end align-items-center mb-3">
                  <button class="btn btn-success rounded-pill">Ajouter</button>
                </div>
                <table class="table border-dark">
                  <thead>
                    <tr>
                      <th>Model</th>
                      <th>Marque</th>
                      <th>Dates</th>
                      <th>Types</th>
                      <th>Voiture</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <tr *ngFor="let vehicule of vehicules">
                        <th scope="row">{{ vehicule.model }}</th>
                        <td>{{ vehicule.marque }}</td>
                        <td>{{ vehicule.dates }}</td>
                        <td>{{ vehicule.types }}</td>
                        <td>{{ vehicule.voiture }}</td>
                        <td class="table-actions">
                          <i class="fa-solid fa-users text-success"></i>
                          <i class="fa-solid fa-pencil mx-3 text-success"></i>
                          <i class="fa-solid fa-trash text-danger"></i>
                        </td>
                      </tr> -->

                      <tr>
                        <th scope="row">Model</th>
                        <td>Toyota</td>
                        <td>12/02/22</td>
                        <td>Dépannage</td>
                        <td>498</td>
                        <td class="table-actions">
                           <i class="fa-solid fa-users text-success"></i>
                              <i class="fa-solid fa-pencil mx-3 text-success"></i>
                              <i class="fa-solid fa-trash text-danger"></i>
                        </td>
                      </tr>
                     <tr>
                      <th scope="row">Model</th>
                      <td>Toyota</td>
                      <td>12/02/22</td>
                      <td>Dépannage</td>
                      <td>498</td>
                      <td class="table-actions">
                         <i class="fa-solid fa-users text-success"></i>
                            <i class="fa-solid fa-pencil mx-3 text-success"></i>
                            <i class="fa-solid fa-trash text-danger"></i>
                      </td>
                    </tr>
                    <tr>
                        <th scope="row">Model</th>
                        <td>Toyota</td>
                        <td>12/02/22</td>
                        <td>Depannage</td>
                        <td>507</td>
                        <td class="table-actions">
                            <i class="fa-solid fa-users text-success"></i>
                            <i class="fa-solid fa-pencil mx-3 text-success"></i>
                            <i class="fa-solid fa-trash text-danger"></i>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Model</th>
                        <td>Toyota</td>
                        <td>12/02/22</td>
                        <td>Depannage</td>
                        <td>503</td>
                        <td class="table-actions">
                            <i class="fa-solid fa-users text-success"></i>
                            <i class="fa-solid fa-pencil mx-3 text-success"></i>
                            <i class="fa-solid fa-trash text-danger"></i>
                        </td>
                      </tr>
                  </tbody>
                </table>
                </div>
            </div>
    </div>
</div>