.board{
    background-color: #fff;
    width: 15rem;
    line-height: 4rem;
}
#board strong{
    text-decoration: underline;
}
.board li{
    text-transform: capitalize;
}
.board li:hover{
    color: red;
    cursor: pointer;
}
table{
    line-height: 4rem;
}
.table-actions{
    cursor: pointer;
}
.table-container{
    background-color: #fff;
}
.souligner{
    border-bottom: solid 2px;
    padding-bottom: 2px;
}